@{
    ViewData["Title"] = "Home";
}

<!--Page heading-->
<div class="text-center">
    <h1 class="display-4">My National Parks Blog</h1>
</div>
<br />

<!--Text underneath heading-->
<div>
    <p>
        As a lover of the outdoors and a resident of the beautiful state of Utah, national parks have been home to some of my 
        most jaw-dropping and life-changing experiences. Ranging from Southwestern red rock to lush temperate rainforests, the 
        United States National Parks provide an incredibly diverse range of outdoor experiences for anyone to enjoy. On this 
        blog, I will share information, photos, and experiences from some of my favorite parks that I have had the privilege 
        of visiting.
    </p>
</div>
<br />

<!--Div for info on the different parks-->
<div style="width: 66.666%; margin-left: 16.667%; margin-right: 16.667%;">

    <!--Olympic-->
    <div>
        <h4>Olympic National Park</h4>
        <img src="\img\IMG_0809.jpg" alt="Me in Olympic National Park" style="width: 300px;">
        <p>
            Arguably my favorite park I have visited, Olympic National Park is one of the most diverse in the nation. From rainforests 
            to mountains to coastlines, one could spend months and still have more to see. I recommend visiting in the summer and 
            taking a dip in the crystal blue waters of Lake Crescent.
        </p>
    </div>
    <br />

    <!--Canyonlands-->
    <div>
        <h4>Canyonlands National Park</h4>
        <img src="\img\IMG_5212.jpg" alt="Me in Canyonlands National Park" style="width: 300px;">
        <p>
            Resembling a more moody and serene younger sister to the Grand Canyon, Canyonlands National Park offers incredible cliffside 
            views that stretch for miles on end. While Canyonlands can be experienced from the top of the canyon looking in, those who 
            seek more adventure may go hiking or offroading into the heart of it all. In the summer, try river rafting for the full 
            experience of the park.
        </p>
    </div>
    <br />

    <!--Yosemite-->
    <div>
        <h4>Yosemite National Park</h4>
        <img src="\img\IMG_6132.jpg" alt="Me in Yosemite National Park" style="width: 300px;">
        <p>
            Being one of the oldest national parks in the United States, Yosemite remains a destination for tourism worldwide. Iconic 
            landmarks such as Yosemite Falls and Half Dome more than live up to any photos you may have seen on the internet. When visiting 
            Yosemite, make sure to spend time both in Yosemite Valley and looking down into the valley from above.
        </p>
    </div>
    <br />

    <!--Arches-->
    <div>
        <h4>Arches National Park</h4>
        <img src="\img\IMG_4923.jpg" alt="Me in Arches National Park" style="width: 300px;">
        <p>
            It's no wonder Arches is feature on the license plate and everywhere else in the state of Utah. Offering dozens of arches that 
            come in all shapes and sizes, Arches National Park is a must-see destination of the southwest. Full of red rock and sun, Arches 
            is a very unique park fit for the whole family. If you visit in the summer months, make sure to bring more water than you think!
        </p>
    </div>

</div>
